header {
    background: red;
    color: white;
    text-align: center;
    padding: 50px;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
}

#indexbody {
    background-image: url(../img/marioworld.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#section1 {
    background: url(../img/marioworld.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px 50px 50px 50px;
    text-align: center;
    box-shadow: 2px 2px 5px darkgray;
}

#homebuttons {
    padding: 5px 10px 5px 10px;
    color: green;
    text-align: center;
    background-color: green;
    transform: scale(1.2) rotate(10deg);
    transform: translateX(-10px) translateY(-10px) scale(1.5);
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 20);
}

#section2 {
    padding: 50px;
    text-align: center;
    background-color: green;
}
#section2 > button {
    text-align: center;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}

#section2 > button:hover {
    transform: translateX(-10px) translateY(-10px) scale(1.5);
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 20);
}

#section2 > button:nth-child(2) {
    transform: rotate(180deg);
}

a, a:visited, a:active {
    color:red;
}

body {
    text-align: center;
}

.button {
    width: 250px;
    background-color: rgb(99, 97, 200);
    font-style: oblique;
}

.button:hover {
    transform: scale(1.2) rotate(20deg);
    border: 2px solid red;
    background: transparent;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 2s ease;
}

.button:hover nth-child(2) {

}

.ugly {
    width: 250px;
    background-color: rgb(99, 97, 200);
    border: 20px solid red;
    border-top: 20px solid blue
}

.ugly, .beautiful, .button {
    width: 250px;
}

.beautiful {
    width: 250px;
    background: transparent;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 3s ease;
}

.button > span {
    font-size: 50px;
}

.beautiful:hover {
    transform: scale(1.5) rotate(180deg);
    border: 2px solid red;
}

.title{
    color: black;
    font-size: 80px;
    text-align: center;
    background-color: rgb(205, 224, 88);
    margin-top: 0px;
    margin-bottom: 10px;
}
.big-font2{
    color: rgb(67, 157, 82);
    font-size: 20px;
    text-align: center;
}
.big-font {
    color: rgb(67, 157, 82);
    font-size: 40px;
}

.paragraph {
    text-align: left;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imglocation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center {
    text-align: center;
    color: yellow;
}

.center2 {
    text-align: center;
    color: white
}

.link {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: rgb(11, 175, 245);
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.paragraphtitle {
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #000000;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
}



.paragraphtop {
    text-align: left;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linktop {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.purple {
    color: purple;
}

#indexfooter {
    background-color: rgb(85, 115, 122);
}

#aboutheader1 {
    background color: rgb(245, 255, 250);
    text-align: left;
    color: rgb(227, 20, 20);
    padding: 30px 0px 30px 10px;
}

#aboutheader2 {
    background-color: rgb(227, 20, 20);
    text-align: left;
    color: rgb(245, 255, 250);
    padding: 30px 0px 30px 10px;
}

a.button {
    width: 250px;
    background: transparent;
    border: transparent;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 3s ease;
    color: black;
}

.abouttable {
    border-collapse: collapse;
    width: 100%;
    color: white;
    text-shadow: 2px 2px #000000;
}

th {
    height: 50px;
    text-align: center;
}


.textleft {
    text-align: left;
    color: white;
    text-shadow: 2px 2px #000000;
}

.textright {
    text-align: right;
    color: white;
    text-shadow: 2px 2px #000000;
}

.aboutimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    transform: scale(1.2) rotate(10deg);
    transform: translateX(-10px) translateY(-10px) scale(1.5);
    padding-top: 30px;
    padding-bottom: 70px;
}
.imgfloat {
    float: right;
    margin: 0 0 10px 10px;
}

.imgfloatleft {
    float: left;
    margin: 0px 0px 0px 10px;
}


table, th, td {
border: 1px solid black;
   font-style: italic;
   font-family: 'Lalezar', cursive;
   width: 60%;
   
}
